<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Permissions -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-feature android:name="android.software.live_wallpaper" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication">

        <!-- Activities -->
        <activity
            android:name=".ConfirmVoiceRecognition"
            android:exported="false" />

        <activity
            android:name=".ListActivity"
            android:exported="false" />
        <activity
            android:name=".TodoStandaloneActivity"
            android:exported="false"
            android:taskAffinity="com.example.myapplication.todo"
            android:launchMode="singleTask" />
        <activity
            android:name=".TodoLauncherActivity"
            android:exported="false"
            android:excludeFromRecents="true"
            android:noHistory="true" />
        <activity-alias
            android:name=".TodoLauncherAlias"
            android:enabled="true"
            android:exported="true"
            android:icon="@drawable/ic_shortcut_todo"
            android:label="@string/launcher_todo_label"
            android:roundIcon="@drawable/ic_shortcut_todo"
            android:targetActivity=".TodoStandaloneActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity
            android:name=".UserSetting"
            android:exported="false" />
        <activity
            android:name=".FeatureSettingsActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />

        <!-- Launcher Activity -->
        <activity
            android:name=".VoiceRecognition"
            android:exported="true"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />
        </activity>

        <activity
            android:name=".calendar.CalendarActivity"
            android:exported="false"/>

        <!-- Service -->
        <service
            android:name=".FloatingService"
            android:exported="false" />
        <service
            android:name=".EventWallpaperService"
            android:enabled="true"
            android:exported="true"
            android:label="@string/wallpaper_name"
            android:permission="android.permission.BIND_WALLPAPER">
            <intent-filter>
                <action android:name="android.service.wallpaper.WallpaperService" />
            </intent-filter>

            <meta-data
                android:name="android.service.wallpaper"
                android:resource="@xml/event_wallpaper" />
        </service>

    </application>

</manifest>